<div class="d-flex flex-column">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="#">{{ title }}</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="navigationBar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
        [ngbCollapse]="!isCollapsed"
      >
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="role === 'user'">
            <a
              class="nav-link"
              routerLink="user/rooms"
              routerLinkActive="active"
              >Rooms</a
            >
          </li>

          <li class="nav-item" *ngIf="role === 'user'">
            <a
              class="nav-link align-items-center"
              routerLink="user/bookings"
              routerLinkActive="active"
              >Bookings
              <span class="badge rounded-pill text-bg-primary">{{
                bookingService.bookingCount$ | async
              }}</span></a
            >
          </li>

          <ng-container *ngIf="role === 'admin'; else userNavigation">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="admin/dashboard"
                routerLinkActive="active"
                >Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="admin/profile"
                routerLinkActive="active"
                >Profile</a
              >
            </li>
          </ng-container>

          <li class="nav-item">
            <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
          </li>
          <ng-template #userNavigation>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="user/profile"
                routerLinkActive="active"
                >Profile</a
              >
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</div>
