<body
  class="d-flex justify-content-center align-items-center py-4 w-100 flex-column"
>
  <ngb-toast
    *ngIf="show"
    [autohide]="true"
    (hidden)="show = false"
    [ngClass]="toastStyle"
  >
    {{ toastMessage }}
  </ngb-toast>

  <h3 class="text-center fw-normal d-block">Register</h3>

  <div class="flex-row justify-content-center align-items-center form-register">
    <img
      src="/assets/register.jpg"
      alt="register"
      width="300"
      height="300"
      class="d-none d-md-block"
    />

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter email"
          required
        />
        <label for="email">Email address</label>
        <div
          *ngIf="
            registerForm.controls['email'].invalid &&
            (registerForm.controls['email'].dirty ||
              registerForm.controls['email'].touched)
          "
          class="invalid-feedback"
        >
          Please enter a valid email address.
        </div>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Enter name"
          required
        />
        <label for="name">Username</label>
        <div
          *ngIf="
            registerForm.controls['name'].invalid &&
            (registerForm.controls['name'].dirty ||
              registerForm.controls['name'].touched)
          "
          class="invalid-feedback"
        >
          Please enter a valid username.
        </div>
      </div>

      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Password"
          required
        />
        <label for="password">Password</label>
        <div
          *ngIf="
            registerForm.controls['password'].invalid &&
            (registerForm.controls['password'].dirty ||
              registerForm.controls['password'].touched)
          "
          class="invalid-feedback"
        >
          Please enter your password.
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary mt-3"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>
    <p class="mt-2">
      <a href="#" class="link-underline-primary" routerLink="/auth/sign-in"
        >Sign In</a
      >
    </p>
  </div>
</body>
