<section class="mt-4">
  <h4>Admin Dashboard</h4>
  <div class="d-flex mt-2 gap-4">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/dashboard/admin/room"
          >Room List</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/admin/booking"
          >Booking List</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/admin/user">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/admin/user">Disabled</a>
      </li>
    </ul>

    <div class="w-75 border">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
