<div class="container mt-4">
  <ngb-toast
    *ngIf="show"
    [autohide]="true"
    (hidden)="show = false"
    [ngClass]="toastStyle"
    style="position: fixed; top: 80px; right: 20px; z-index: 1"
  >
    {{ toastMessage }}
  </ngb-toast>

  <div>
    <h3>Rooms</h3>
    <p class="lead">This rooms are available for booking</p>
  </div>

  <div class="row">
    <div class="col-3 mt-2" *ngFor="let room of rooms">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Number: {{ room.number }}</h5>
          <p class="card-text">Room Type: {{ room.type | titlecase }}</p>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="bookRoom(room.id)"
          >
            Book Room
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
