<div class="container mt-3">
  <div class="d-flex flex-column">
    <h4>User Profile</h4>
    <p class="lead">
      Hi {{ userProfiles.name }}! Welcome to Room Reservation App
    </p>

    <div class="d-flex flex-row mt-3 border p-4 rounded">
      <div class="me-5">
        <img
          [src]="
            userProfiles.photo
              ? userProfiles.photo
              : '/assets/profile-photo.jpg'
          "
          alt=""
          width="200"
          height="200"
          class="profile-photo"
        />
      </div>
      <div>
        <h4>Information</h4>
        <div class="mt-4">
          <ul class="list-group list-group-flush">
            <p class="lead"><strong>Name:</strong> {{ userProfiles.name }}</p>
            <p class="lead"><strong>Email:</strong> {{ userProfiles.email }}</p>
            <p class="lead">
              <strong>User Id:</strong> {{ userProfiles.userId }}
            </p>
            <p class="lead">
              <strong>Role:</strong>
              {{ userProfiles.role === "user" ? "User" : "Admin" }}
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .profile-photo {
    border-radius: 50%;
  }
</style>
