<div class="d-flex justify-content-center align-items-center mt-5">
  <form class="w-25 d-flex flex-column">
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control mt-2"
        id="email"
        name="email"
        placeholder="Enter email"
        required
        #email
      />
      <div class="invalid-feedback">Please enter a valid email address.</div>
    </div>
    <div class="form-group mt-3">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control mt-2"
        id="password"
        name="password"
        placeholder="Password"
        required
        #password
      />
      <div class="invalid-feedback">Please enter your password.</div>
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-block mt-3"
      (click)="login(email.value, password.value)"
    >
      Sign In
    </button>
  </form>
</div>
